<h2>New Dojo</h2>

<form action="/dojos" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Branch: <input type="text" name="branch">
  Street: <input type="text" name="street">
  City: <input type="text" name="city">
  State: <input type="text" name="state">
  <input type="submit"  value="Create User">

  <a href="/">Go Back</a>
</form>
